[2017-05-29 05:45] pwalsh opened #1 "Getting started"
# Description

This issue documents the initial steps to get started with a new Frictionless Data implementation.

# Tasks

- [x] Travis configuration
- [x] Coveralls configuration
- [x] Basic setup of README with badges
- [x] Basic setup of license
- [x] Review the whole family of [specifications](http://specs.frictionlessdata.io)
- [x] Review the [implementation notes](http://specs.frictionlessd

[2017-05-29 05:45] pwalsh opened #2 "Release version-1"
# Description

This issue describes the set of tasks to complete in order to finish up work on the library.

# Tasks

- [x] Touch base with the @jobarratt and @pwalsh to notify that you consider the work complete
- [x] Provide a short description / link to code for how each action is implemented, with a link to unit tests that prove each action
- [x] Tag your candidate code as v0.1
- [x] Setup tra

[2017-06-18 16:08] danielfireman opened #3 "Maps versus strong types"
The flexibility in schema description seems to play really well in dynamically typed languages like Python or Javascript. For example, let's take a look in the a following code fragment [tableschema-py](https://github.com/frictionlessdata/tableschema-py#example):

[code]

The Golang and Java counterparts for the tableschema library could simply translate this code using `map[string]interface{}` an

[2017-06-18 16:25] danielfireman opened #4 "Create a design document"
Besides aggregating information about the work to be done, implementation and testing the document should contain a proposal for the first version of the API.

The idea is to make it easier to discuss and gather comments. Have someone more acquainted to the libraries (and with experience in statically typed languages) signing off the document would be great.

[2017-06-18 19:04] danielfireman opened #5 "Add Table Iterator"
Even though this is blocked by #3, lets explicit the possible ways to go. The proposals are inspired by [mgo#Iter ](https://godoc.org/gopkg.in/mgo.v2#Iter), [AWS DynamoDB](https://docs.aws.amazon.com/sdk-for-go/api/service/dynamodb/) and [database/sql](https://golang.org/pkg/database/sql/).

We are going to follow [good practices](https://blog.golang.org/context) and context object will be part of

[2017-06-19 07:58] pwalsh commented on #3
@akariv

[2017-06-19 08:12] roll commented on #3
@danielfireman
I just going to dive into the problem but I could say about your example - things like `post_cast` is an extended level of FrictionlessData implementations (see https://github.com/frictionlessdata/implementations#tableschema). We support it only in Python.

[2017-06-19 13:53] danielfireman opened #6 "Design document"
A document describing an API proposal and some implementation aspects (i.e. coding, testing and performance considerations).

Should not be very long. The main goal is to enable discussion and get a sign off before jump into coding.

[2017-06-20 07:22] akariv commented on #3
@danielfireman why not go the way that the standard `json` implementation is done in Go:
https://blog.golang.org/json-and-go

You can pass an interface with the correct fields, in which case unmarshalling will fill these fields. If you pass an empty interface, a map will be created. That's the best of both worlds.

[2017-06-20 12:23] danielfireman commented on #3
Thanks for chiming in, @akariv! Totally agree that is the best of both worlds. @roll, could we close on that? Further comments?

As per request from @roll, let's sumarize with examples from all options so far. We are going to use the following python fragment as guide:

[code]

* map[string]interface{} (equivalent to Map<String, Object> in java)

[code]

* Very general objects with accessor method

[2017-06-20 16:34] danielfireman commented on #4
The design doc can be found at https://goo.gl/ExQbi6.

The API is not complete. I would like to improve iteratively.

@akariv @roll @pwalsh could you please take a look?

[2017-06-20 17:14] danielfireman commented on #6
Duplicate #4

[2017-06-20 17:14] #6 closed

[2017-06-21 08:49] roll commented on #3
@danielfireman
I'm also +1 for JSON-like. My comment about SQL-like was more like it could be better to use some proven solution and JSON-like seems even better. I've read how it works and flexibility with supporting both declared interface or empty interface {} should be good fit for Frictionless Data eco-system where people do many researches etc (e.g. quickly read and print data without full ty

[2017-06-28 12:09] danielfireman commented on #3
Got it.

I will keep in mind the naming consistency. Thanks for the heads up!

[2017-06-28 12:09] #3 closed

[2017-06-29 18:48] #1 closed

[2017-06-29 18:50] danielfireman commented on #4
Considering the doc enough for start coding. I will keep it as a draft until getting a sign-off.

[2017-06-29 18:50] #4 closed

[2017-06-29 19:11] danielfireman opened #7 "Add default values for Field properties"
Should follow [the python implementation](https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/field.py#L30) and [config](https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/config.py)

[2017-06-29 19:13] danielfireman opened #8 "Add Field.CastValue"
Python implementation [here](https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/field.py#L75)

[2017-06-29 19:14] danielfireman opened #9 "Add Field.TestValue"
Python implementation [here](https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/field.py#L119)

[2017-06-30 21:07] #7 closed

[2017-06-30 21:15] danielfireman commented on #8
As per [tableschema spec](https://specs.frictionlessdata.io/table-schema), the implementation of this functionality is really big. Let's break it down into a bunch of smaller issues, one for each type.

[2017-06-30 21:15] #8 closed

[2017-06-30 21:17] danielfireman opened #10 "Add Field.Test support to strings"
* Python implementation [here](https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/field.py#L75)
* Tableschema spec is [here](https://specs.frictionlessdata.io/table-schema/#types-and-formats)

**A fragment from the spec**

string: The field contains strings, that is, sequences of characters.

format:
default: any valid string.
email: A valid email address.
uri: A valid URI.

[2017-07-01 12:31] danielfireman commented on #9
In the same way the Field.Cast value, this issue is too broad. Closing it down and splitting it into smaller ones.

[2017-07-01 12:31] #9 closed

[2017-07-01 12:34] danielfireman opened #11 "Add Field.CastValue to Integers"
* Python implementation [here](https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/field.py#L75)
* Tableschema spec is [here](https://specs.frictionlessdata.io/table-schema/#types-and-formats)

**Fragment from the spec**

The field contains integers - that are whole numbers.

Integer values are indicated in the standard way for any valid integer.

format: no options (other t

[2017-07-01 13:12] #11 closed

[2017-07-01 13:12] danielfireman opened #12 "Add string support to Field.CastValue"
https://specs.frictionlessdata.io/table-schema/#types-and-formats

[2017-07-01 13:14] danielfireman opened #13 "Add Boolean support to CastValue and TestValue"
* Notice that includes supporting the boolean field customizations described bellow.

* https://specs.frictionlessdata.io/table-schema/#types-and-formats

**boolean**
The field contains boolean (true/false) data.

In the physical representations of data where boolean values are represented with strings, the values set in trueValues and falseValues are to be cast to their logical representation as

[2017-07-03 18:38] #10 closed

[2017-07-03 18:38] #12 closed

[2017-07-06 13:11] #13 closed

[2017-07-06 13:13] danielfireman opened #14 "Add Table.Read"
Python code: https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/table.py#L99

[2017-07-11 19:30] danielfireman opened #15 "Add frictionless data field tags to structs"
This will make more flexible to declare structs to encode/decode table rows.

Example:
[code]

MyName field will be populated with values from the "name" column (header)

For reference:

* https://github.com/frictionlessdata/tableschema-go/blob/master/schema/schema.go#L189
* https://github.com/frictionlessdata/tableschema-go/blob/master/schema/schema.go#L223

[2017-07-11 19:32] danielfireman opened #16 "Add Schema header's map"
This would make CastRow faster (in particular for tables with many fields)

[2017-07-12 23:14] danielfireman opened #17 "Error or create a new instance if Schema.CastRow receives a nil pointer"
Create a new instance is better, but I am not sure if we can do it cleanly.

[2017-07-12 23:52] danielfireman commented on #14
This very simple Table.Read allow us to move forward towards an end-to-end solution. We could come back and improve it later.

[2017-07-12 23:52] #14 closed

[2017-07-12 23:54] danielfireman opened #18 "Infer a Table Schema descriptor from a supplied sample of data"
Python code: https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/infer.py

[2017-07-12 23:56] danielfireman opened #19 "Validate Table against a Schema"
Python code: https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/validate.py

[2017-07-12 23:59] danielfireman opened #20 "Introduce Schema.Save"
Python code: https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/schema.py#L161

[2017-07-13 00:11] danielfireman opened #21 "Create CONTRIBUTING.md"
Inspiration: https://github.com/frictionlessdata/tableschema-php/blob/master/CONTRIBUTING.md

[2017-07-13 00:22] danielfireman opened #22 "godoc.org page and link at README.md"

[2017-07-13 14:47] danielfireman commented on #5
After some thinking and taking a very close look at Ruffus' [issue](https://github.com/frictionlessdata/tableschema-js/issues/78), I would like to propose the following API.

@roll @danfowler Could you please take a look? It is important to bear in mind that Go is statically typed.

[code]

[2017-07-14 15:39] danielfireman opened #23 "Improve schema descriptior to support two types of primary keys: list and string"
Let's start with only lists and then extend the support to string.

Description of the field: https://specs.frictionlessdata.io/table-schema/#primary-key

[2017-07-14 17:17] danielfireman opened #24 "Validate Schema"

[2017-07-14 17:18] #24 closed

[2017-07-14 17:20] danielfireman commented on #16
Created a function and factored out the access GetField.

One caveat of this is that in CastRow we actually need the index describing the position of the field in the descriptor. So, maybe the map would be: map[string]int, mapping name to position.

[2017-07-14 17:22] danielfireman commented on #19
I actually meant validate schema, which was fixed at #24

[2017-07-14 17:22] #19 closed

[2017-07-17 12:49] #21 closed

[2017-07-17 13:44] roll commented on #5
@danielfireman
What I've got lately for JavaScript based on the same issue - https://github.com/frictionlessdata/tableschema-js/tree/table-fix#table

Related to static typed implementation.. I think you idea of replacing `iter/read` is good but I have a concern about `table.Raw/Rows()` naming. I would say `Raw` sound more like bytes. May be more explicit like `table.Rows()/CastRows()`?

[2017-07-18 13:09] #23 closed

[2017-07-20 19:15] danielfireman commented on #18
@pwalsh

I didn't want to only port the code, so I checked the code (JS and Python), issues (i.e. [tableschema-py/issues/105](https://github.com/frictionlessdata/tableschema-py/issues/105) and gitter discussions around infer. After that, I am not entirely sure what is the actual scope of `infer` in within Go library V1.0. In other words, is super critical to have the exact same behavior -- and may

[2017-07-20 19:41] pwalsh commented on #18
hey @danielfireman ! @roll will be best placed to help you with this.

[2017-07-25 09:54] roll commented on #18
@danielfireman
Sorry for the late answer. TBH can't be very helpful on internals. I think `infer` still could work consistent between different implementations because it's kinda pure mapping from `text file` (cvs, or values from this csv) to `text file` (json, table schema).

[2017-07-25 11:01] danielfireman commented on #18
Sorry @roll .. but could please clarify?

Is that ok if I follow the widely known rules of `json.Unmarshall` for `infer`?

[code]

Asking because in the gitter channel you asked for contributors to think about it. I am suggesting we simplify the rules and, at least in Go, we have a solid implementation for this slightly simpler version.

I am also curious about the usage/use cases of `infer`. That

[2017-07-25 11:14] danielfireman commented on #18
[Another project](https://github.com/gocarina/gocsv) that was an inspiration for my suggestion. Very powerful features:

* tags to have structs with fields whose names do not match the CSV headers
* Ability to provide a custom `Unmarshal` method

[2017-07-25 11:15] pwalsh commented on #18
@danielfireman

A use case is where a user has a plain CSV file, and we use infer to generate a Table Schema for it, without requiring the user to know anything about Table Schema. An example of where we do this is in the user interface of [OpenSpending (which does a bunch of other stuff too, beyond basic schema inference)](https://next.openspending.org/packager/provide-data).

About the rules of

[2017-07-25 11:20] danielfireman commented on #18
Thanks for the answer, @pwalsh !

[2017-07-25 11:22] danielfireman commented on #18
I am going to aim with the following conversion rules for the first version (please notice that bellow we have with frictionless data types -> json type (no Go) :

[code]

[2017-07-25 14:13] danielfireman commented on #18
Just had a chat with @pwalsh and we agreed on implementing:

* string, number, integer, boolean, object, array, date
* For the first version, the format will always be "default"
* The only accepted date format will be ["default" (ISO8601)](https://specs.frictionlessdata.io/table-schema/#date)

We've got an open question at the end of the chat:  whether the `Infer` function should return **invalid*

[2017-07-26 09:14] roll commented on #18
`tableschema.validate` validates only Table Schema descriptor against Table Schema profile (jsonschema). That's across all our implementations for now. So please take it into account - because implementing it is much easier :smile:

So talking about schema validity we talks only about schema check. Not data. So output of `infer` can't be invalid. It could be just non-optimal for given data sample.

[2017-07-26 12:20] danielfireman commented on #18
Thanks for the awesome explanation, @roll !

Got it.  I meant the use of `CastRow` on that data would return errors. But this the user perspective I was trying to get.

Just for the records: another way to deal with this problem is to use the wider type. For instance, if we have 3 integers and one float in a column, we could use float as the field type and somehow warn the user. In that way, the u

[2017-07-26 12:29] roll commented on #18
So that's exact case (high-level algorithm) when I've suggested implementers to go creative) And later we could re-use the best approach in existent implementations.

[2017-07-26 12:40] danielfireman commented on #18
Perfect. I am going to give this a shot.

[2017-07-27 00:59] danielfireman commented on #18
The proposed method seems to be better in performance. Benchmark results:

BenchmarkInferSmall-4                   	   20000	    113778 ns/op
BenchmarkInferMedium-4                  	     100	  10257832 ns/op
BenchmarkInferBig-4                     	      20	  86271503 ns/op
BenchmarkInferImplicitCastingSmall-4    	   30000	     42894 ns/op
BenchmarkInferImplicitCastingMedium-4   	     500	   2939

[2017-07-27 12:37] danielfireman commented on #18
Need to improve documentation. Leaving this issue open.

[2017-08-01 00:21] danielfireman commented on #22
Done.

[2017-08-01 00:21] #22 closed

[2017-08-01 01:09] #18 closed

[2017-08-01 02:08] #20 closed

[2017-08-01 16:53] danielfireman opened #25 "Add support to remaining field types"
Marking this issue as fixed includes augmenting infer and cast method.

* time
* date
* year
* yearmonth
* duration
* geopoint
* geojson

[2017-08-01 17:10] danielfireman opened #26 "Add support to streaming a data source through a schema"
This feature probably refers to [Table#Save()](https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/table.py#L117) in tableschema-py.

[2017-08-02 10:39] roll commented on #26
I think it's `table.iter/read`

[2017-08-10 12:51] #25 closed

[2017-08-17 02:57] danielfireman commented on #26
Cool. Closing it as duplicate of #5

[2017-08-17 02:57] #26 closed

[2017-08-18 01:20] #5 closed

[2017-08-18 18:25] danielfireman commented on #17
Added a test to guarantee that passing nil returns an error.

Comimt 9fe18c0516cbead21234489a2cb52afda2d86882

[2017-08-18 18:25] #17 closed

[2017-08-18 18:47] danielfireman opened #27 "Add Table.Infer()"

[2017-08-18 18:48] danielfireman opened #28 "Improve Readme.md"

[2017-08-25 14:51] #27 closed

[2017-08-25 15:25] #28 closed

[2017-08-25 15:26] danielfireman commented on #2
@pwalsh @jobarratt I believe we have a tableschema-go implementation :smile:

[2017-08-25 17:40] danielfireman commented on #2
I am going to add Documentation and Contribution sections to Readme, following tableschema-js. I believe that would be better than links to code for each action (second checkbox of the list above), right?

cc/ @roll

[2017-08-28 09:39] roll commented on #2
@danielfireman
Yes. It will be better. And following `tableschema-js` readme structure will be great.

[2017-08-28 12:05] danielfireman commented on #2
Cool.

AlreadtyAlready added the added the [examples](https://github.com/frictionlessdata/tableschema-go/tree/master/examples).

Going to ping this thread when the readme section is done (ETA: Thursday)

[2017-08-30 18:59] fils opened #29 "dep install issue"
So first..  I've been watching this progress along..
Very excited to start using this...

On that point though I tried dep (my first use of dep by the way)

I get

[code]

Is there a different version number I should use..    how does one tell what versions are
 available?

[2017-08-30 19:44] danielfireman commented on #2
Improved the readme quite a lot. Could you please start taking a look, @roll

[2017-08-30 23:16] danielfireman commented on #29
Glad to know you're using tableschema-go @fils !

It was my first time using dep either :smile: .. Just released a new version (v0.1.1) and tried created a program from scratch using tableschema-go and dep.

Could you please try:

[code]
And let me know how it goes?

[2017-08-31 17:52] fils commented on #29
@danielfireman  yea..   I was thrilled to see you working on this and to follow it....
I'm in a meeting all day today..  (but testing on the side just looks like I am taking notes)  ;)

I still get an error..   see the following..

[code]

[2017-08-31 17:58] danielfireman commented on #29
Cool!

It seems you're typing github.com twice in the import statement (line 3), @fils .. Could you please fix this typo and try again?

[2017-08-31 18:05] fils commented on #29
@danielfireman   :)   you might want to fix that on the example in your README too!

after the fix I get

[code]

which looks better...

[2017-08-31 18:28] fils opened #30 "Potential namespace collision?"
given an import like
[code]
that could happen in a program with the standard
[code]
won't name space collisions happen?
yes we can overload imports with a named import, but it might be better to not have that happen to new users.

[2017-08-31 19:18] danielfireman commented on #29
Done! Thanks a lot for pointing this out.

Glad that it worked out.

[2017-08-31 19:18] #29 closed

[2017-08-31 19:28] danielfireman commented on #30
Thanks for the feedback!

I actually thought about this collision, but I ended concluding that it won't happen in most cases (at least in simple ones). This is because `tableschema-go/csv` could be used in many places where  `encoding/csv` is being used. This is particularly true for simple cases (iterating and writing CSVs).

Do you have a case in mind that you would like to share? Or a missing f

[2017-08-31 19:36] danielfireman opened #31 "Add csv.Table.Write and csv.Table.SaveToFile"

[2017-08-31 19:38] fils commented on #30
I'll see if I can think of one...    I need to start trying some code and see.  I'm wondering if there might be a case where CSV needs to be modified or manipulated prior to being used in tableschema?

also

[code]

I'm trying to compile the example again.. see anything obvious I am missing?

[2017-08-31 19:52] danielfireman opened #32 "Augment Decode and DecodeTable to deal with pointers"
This should transparently deal with *schema.GeoPoint, which currently returns an error.

The same should work for *int and other types.

[2017-09-01 01:00] fils commented on #30
@danielfireman I am playing and learning...   I think the example on the README.md needs to use FromFile not FromSource and the struct needs {} and tossing in a package main makes it run directly.

[code]

can't tell you have thrilled I am to have this...
I have about 18,000 datasets I want to expose this way.   Was using CSV for the Web, but happy to move to Frictionless and Go is my language of

[2017-09-01 14:01] danielfireman commented on #30
Thanks, @fils ! Sorry for the typos in the example. My bad. Fixed in commit 3543e54

I am super glad to read your words! Thanks a lot!

Yes, datapackage is my next goal.

About t.CastAll: it is worth to check [t.Iter()](https://godoc.org/github.com/frictionlessdata/tableschema-go/csv#Table.Iter), which allows efficient iteration without allocating the whole dataset in memory.  That example would b

[2017-09-01 14:16] danielfireman commented on #30
Oh .. forgot to comment on the namespace collision.

That's a great point! My plan is to cover this the full need using tableschema-go. The writing needs are going to fixed by #31 . Your considerations also allowed to reconsider the Table API. I would say we should go with a more idiomatic approach for go: Readers and Writers.

What do you think?

[2017-09-01 14:40] pwalsh commented on #30
Hi @fils . I'm the Product Owner on the Frictionless Data work we do at Open Knowledge International. I'd love to hear more about your 18,000 datasets, so I can potentially learn about new use cases and applications for the specs and tooling.

[2017-09-01 17:03] danielfireman commented on #31
It's probably a good time to start using https://github.com/gocarina/gocsv.

[2017-09-02 00:40] fils commented on #30
@pwalsh thanks for reaching out.   Would love to talk to you more about this.  Have a colleague also looking to expose some water column data using frictionless approaches.   My data is scientific drilling cores and more geology/paleo related.     Send me an email at dfils@oceanleadership.org and lets chat about this.  Would love to have a connection to Open Knowledge on this.   I'm playing a role

[2017-09-03 15:12] danielfireman commented on #30
@fils Sure! I'll be rolling out those changes over this week and release a new version by Friday. I would like to start working on datapackages-go next week.

[2017-09-04 21:11] danielfireman commented on #30
All the reading path is done. Closing this issue and following up with the writing path on issue #31

[2017-09-04 21:11] #30 closed

[2017-09-05 08:55] roll commented on #2
@danielfireman
Thanks. I'll do in coming days.

[2017-09-08 21:48] #31 closed

[2017-09-08 21:58] danielfireman commented on #30
@fils Just released a new version with some API changes for reading (more idiomatic) and also adding writing capabilities.

Improved a lot the README.md

Please let me know if you have any problems or have suggestions.

Thanks!

[2017-09-08 22:09] danielfireman opened #33 "Migrate vendoring support to Go's dep tool"

[2017-09-08 22:09] danielfireman opened #34 "Create a contribution section in readme"

[2017-09-11 00:46] fils commented on #30
@danielfireman   I'll pull down updates tomorrow and do some tests with reading and writing some example datasets with some of my  own data.   I'll link in my examples and experiences here.

[2017-09-11 12:20] danielfireman commented on #30
Awesome! Looking forward to hearing from your experiences. Thanks!

Em 10 de set de 2017 21:46, "Douglas Fils" <notifications@github.com>
escreveu:

@danielfireman <https://github.com/danielfireman> I'll pull down updates
tomorrow and do some tests with reading and writing some example datasets
with some of my own data. I'll link in my examples and experiences here.

—
You are receiving this becau

[2017-09-13 13:33] roll commented on #34
@danielfireman
I'm stuck after running these commands:
[code]

[2017-09-13 14:57] roll opened #35 "Support remote schema descriptor"
# Overview

There is:

[code]

Not sure is there a counterpart for remote schema.

[2017-09-13 15:00] roll opened #36 "More detailed readme"
# Overview

For now the readme is useful but still lacks more detailed information on `Table/Schema/Field` APIs. What exact methods/functions are supported etc. See https://github.com/frictionlessdata/tableschema-js#documentation

[2017-09-13 15:02] danielfireman commented on #36
I am using [Godoc](https://godoc.org/github.com/frictionlessdata/tableschema-go) for that

There is a godoc badge in the Readme

It is automatically updated based on the code comments.

[2017-09-13 15:04] roll commented on #36
@danielfireman
Thanks. Missed that. May be we could add the godoc note/link also to `documentation` section.

[2017-09-13 15:04] #36 closed

[2017-09-13 15:06] danielfireman commented on #35
No. Not yet.

I was targeting the [basic implementation](https://github.com/frictionlessdata/implementations#interface), as described in the [design document](https://docs.google.com/document/d/1aw8SR9S6KbfljUjk7CB72lCGNv3cOYMCAY5KXaOUSVU/edit?usp=sharing)

[2017-09-13 15:20] danielfireman commented on #34
The next thing to do is to [test your installation](https://golang.org/doc/install#testing), which includes the creation a workspace for go projects (a workspace is essentially directory with three subdirs: pkg, src, bin)  and set the GOPATH environment variable.

From that, you could check out the code and run the infer example:
[code]

Please let me know if you need guidance on some specific tas

[2017-09-13 15:26] roll opened #37 "Support bareNumber option for integer and number types"
# Overview

See http://specs.frictionlessdata.io/table-schema/#number. Also we should update current behavior on currencies etc.

[2017-09-13 15:29] roll commented on #35
@danielfireman
Cool. I've updated it to be an enhancement. It seems we miss it in requirements but all basic implementations support it.

[2017-09-13 16:29] roll opened #38 "Support for type any:"

[2017-09-13 16:31] roll opened #39 "Support for type "any""
# Overview

It seems the lib supports all Table Schema types except "any" type. If it's not applicable for Go we need some kind of fallback to still support descriptors with "any" type.

[2017-09-13 17:48] danielfireman commented on #37
Just to be entirely clear: what exactly do you mean by "update current behavior on currencies etc"?

[2017-09-13 18:42] danielfireman commented on #37
All done. Thanks for catching this missing feature! Leaving the issue opened until we clarify the description.

[2017-09-13 18:42] roll commented on #37
@danielfireman
There was a change in specs that replaces `number.currency` by `number.bareNumber`. E.g. for JavaScript  it leads to - https://github.com/frictionlessdata/tableschema-js/commit/8c399e25de98cf3463c54879e1afd79e78a7d684

[2017-09-13 18:43] #38 closed

[2017-09-13 18:44] danielfireman commented on #37
Cool. That is exactly how I implemented it (followed the specs). Thanks for the heads up!

Marking this issue as finished.

[2017-09-13 18:44] #37 closed

[2017-09-13 18:44] roll commented on #37
:+1:

[2017-09-13 18:54] roll commented on #16
Minor notes that lately in implementations we've started to distinct:
- schema have field names
- data table have headers

[2017-09-13 19:09] roll commented on #2
@pwalsh
@danielfireman
I've reviewed based on http://specs.frictionlessdata.io/implementation/ and found only two basically small things to address:
- support for remote schema descriptors - #35
- support for "any" type - #36

Not functional thoughts:
- it's hard for me to have an opinion on the API. It seems a Java implementation looks more familiar for me - https://github.com/frictionlessdata/ta

[2017-09-13 19:22] #35 closed

[2017-09-13 21:24] #39 closed

[2017-09-13 21:38] danielfireman commented on #16
This was actually a (premature) optimization. Let's wait for schema decode/encode and start optimizing it based on actual profiling.

[2017-09-13 21:38] #16 closed

[2017-09-13 21:48] danielfireman commented on #2
Thanks a lot, @roll for the thorough review! Super nice to have an experienced pair of eyes on this project!

Already added support for "any" type and also added the remote load of both schema descriptors and tables.

I am going to enrich the README, but I don't think it should cover the whole package usage and GoDocs plays a larger role here as GoDocs is more than mere references. It supports *ex

[2017-09-14 13:13] danielfireman opened #40 "Add MissingValues option to Infer and InferImplicitCasting"

[2017-09-14 13:16] roll commented on #34
@danielfireman
Thanks. It's helped. So this is a working scenario:
@danielfireman
I'm stuck after running these commands:
[code]

[2017-09-14 13:39] danielfireman commented on #34
Yes! Exactly!

[2017-09-14 13:57] #34 closed

[2017-09-14 13:58] danielfireman opened #41 "Add go 1.9 support"
This includes change travis.ci to test with 1.8 and 1.9

[2017-09-14 14:01] danielfireman commented on #2
Improved the `README.md` quite a lot. I believe it is now covering the main aspects of the project and providing plenty of examples. Thanks again for your review, @roll !

[2017-09-15 17:04] danielfireman commented on #41
Added the configuration to travis in commit bce74bab21906bb7df37afa8517c891ffca11067

[2017-09-15 17:06] danielfireman commented on #41
All tests passed. We are ready to go 1.9!

[2017-09-15 17:06] #41 closed

[2017-09-15 17:15] #33 closed

[2017-09-19 07:33] roll opened #42 "Implement "unique" constraint and other constraints?"
# Overview

Unique constraint e.g. in Python when we iterating table rows - https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/table.py#L94-L104

Also to be sure we support all list of constraints:
- [x] required
- [ ] unique
- [ ] minLength
- [ ] maxLength
- [ ] minimum
- [ ] maximum
- [ ] enum

[2017-09-19 13:09] danielfireman commented on #42
Great catch. The current version of tableshema-go is not supporting constraints.

[2017-10-01 14:38] danielfireman opened #43 "Implement `datetime` field constraints"
As per [tableschema specs](https://specs.frictionlessdata.io/table-schema/#constraints), `datetime` fields could have two constraints associated to it: maximum and minimum.

A similar implementation (for `year`Month fields), can be found at  e86d9a7ed2917386580b331396060b3bf1091a2c

[2017-10-01 14:40] danielfireman opened #44 "Implement `date` field constraints"
According to [tableschema specs](https://specs.frictionlessdata.io/table-schema/#constraints), `date` fields could have two constraints associated to it: maximum and minimum.

A similar implementation (for yearMonth fields), can be found at e86d9a7

[2017-10-01 14:42] danielfireman opened #45 "Implement `time` field constraints"
According to [tableschema specs](https://specs.frictionlessdata.io/table-schema/#constraints), `time` fields could have two constraints associated to it: maximum and minimum.

A similar implementation (for yearMonth fields), can be found at e86d9a7

[2017-10-01 14:46] danielfireman opened #46 "Implement `string` type constraints"
According to [tableschema specs](https://specs.frictionlessdata.io/table-schema/#constraints), `string` fields could have many constraints associated to it: pattern, minLength, maxLength

A similar implementation (for yearMonth fields), can be found at e86d9a7

[2017-10-01 14:48] danielfireman opened #47 "Implement unique constraint"
This constraint can be used in all types:

In tableschema Go's implementation, it only makes sense to have unique constraint checked during schema.DecodeTable.

[2017-10-01 14:51] danielfireman opened #48 "Implement `enum` constraint"
* [JS implementation](https://github.com/frictionlessdata/tableschema-js/blob/master/src/constraints/enum.js) (for reference)

[2017-10-01 14:52] danielfireman commented on #42
Opened issues for specific implementations. It is easier to track and get contributions.

[2017-10-01 14:52] #42 closed

[2017-10-01 15:26] #45 closed

[2017-10-01 18:29] ajurasz commented on #47
Hi, @danielfireman  I would like to give it a try. So far I was reviewing codebase and I think I know how to achieve the main goal, but will know more when I will fork this repository and start coding ;)

[2017-10-01 21:12] danielfireman commented on #47
Great stuff, @ajurasz! Please let us know if you have questions or run into any problems.

One question that has just crossed my mind: should we check uniqueness based on the raw version of the field or the decoded version? For instance, "10,10" and "[10,10]" are different strings but they represent the same geopoint. The former is definitely more performant, but the latter seems more accurate.

@

[2017-10-02 06:35] hwchiu commented on #46
Hi @danielfireman.
I would like to try to solve this problem. According to tableschema specs, should I add a new filed `pattern` to `Constraints  struct` in `schema/field.go`?
And, for the **string** constraints, The string should match those pattern and its length should between minLength and MaxLength, Do I have any missing ?

Thanks.

[2017-10-02 07:26] roll commented on #47
@danielfireman
Constraints is a post-cast concept. So for all constraints we have a deal with a [logical representation](http://specs.frictionlessdata.io/table-schema/#physical-and-logical-representation). And it's true that `unique` only one constraint that applies on a `Table` level - http://specs.frictionlessdata.io/table-schema/#physical-and-logical-representation

[2017-10-02 14:36] danielfireman commented on #46
Hi @hwchiu , good morning!

Yes, exactly.

No. I believe that's it.

Could you please split the completion of this issue into more than one PR? For instance, one PR adding the maxLength, other adding the pattern and so on. That would definitely speed up the review process.

Thanks!

[2017-10-02 14:47] hwchiu commented on #46
Hi @danielfireman , good evening! (:D)
Thanks your reply.

I will write those modification tomorrow morning and send PRs after I have finish it .
By the way, I should also modify all existing castString function to support a constraint, right ?

[2017-10-02 14:50] danielfireman commented on #46
You're very welcome!

Sounds great.

There is only one (unexporeted) castString function and that is called by infer.go and field.go.

Could you please enjoy and rename it to decodeString?

[2017-10-02 19:21] as27 commented on #43
This sounds like something I could manage for the Hacktoberfest.

[2017-10-02 20:24] danielfireman commented on #43
Cool! Go for it, @as27 ! :)

[2017-10-03 00:29] cored commented on #44
@danielfireman would like to try to add this feature.

[2017-10-03 00:32] danielfireman commented on #44
Nice! Go for it, @cored !

[2017-10-03 10:19] as27 opened #54 "Refactor datetime.go file"
Inside [datetime.go](https://github.com/frictionlessdata/tableschema-go/blob/master/schema/datetime.go#L47) in a case of an error the functions returns time.Now()

[code]
This could cause a bug, when the caller of the function does not check the returned error.  I would suggest to change the return value to an empty time.Time

[code]

[2017-10-03 12:02] danielfireman commented on #54
Great catch, @as27!

[2017-10-03 13:16] danielfireman opened #55 "Create a "constructor" for Field"
There are cases where the Field struct needs to have some processing:

* The MissingValues is a field of the schema descriptor, but it is very needed at the `Field.Decode()`. Thus, the [schema reading process](https://github.com/frictionlessdata/tableschema-go/blob/master/schema/schema.go#L50) ends up populating it.
* The pattern constraint should be compiled only once, at field creation.

To embr

[2017-10-03 15:10] as27 commented on #54
I will fix this.

[2017-10-03 16:44] #54 closed

[2017-10-05 04:08] hwchiu commented on #46
Thanks your help. Are there anything that I can help about this issue ?

[2017-10-05 13:16] danielfireman commented on #46
Thank you! I believe this is it for this particular issue. Closing it out.

[2017-10-05 13:16] #46 closed

[2017-10-05 16:23] cored commented on #48
@danielfireman will work on this one

[2017-10-05 16:38] danielfireman commented on #44
Super cool stuff! Thanks for your contribution, @cored!

[2017-10-05 16:38] #44 closed

[2017-10-05 16:46] danielfireman commented on #48
Nice!

[2017-10-05 18:56] danielfireman opened #58 "Use matryer/is to make tests cleaner"
I believe using [matryer/is](https://github.com/matryer/is) will make tests even more readable. Let's see how it goes.

[2017-10-06 13:30] as27 commented on #15
That idea is great. I don't have so much experience with reflection, but I will try.

[2017-10-06 13:49] danielfireman commented on #15
Awesome! Implementing [schema.Decode](https://github.com/frictionlessdata/tableschema-go/blob/master/schema/schema.go#L189) and [schema.Encode](https://github.com/frictionlessdata/tableschema-go/blob/master/schema/schema.go#L223) was a lot of fun and learning. I had not had much experience with reflection either :smiley:

[2017-10-06 14:10] as27 commented on #15
Just send a PR. It was much easier then expected. So Encode() and Decode() are great implemented. Well done.

[2017-10-06 14:35] danielfireman commented on #15
It is great that you could easily implement this feature! Great stuff. Already sent you some suggestions/comments.

I am flattered :see_no_evil: .. Thanks a lot!

[2017-10-06 14:41] #43 closed

[2017-10-06 18:03] danielfireman commented on #15
Super happy to close this issue! This feature greatly improves tableschema-go's usability!

[2017-10-06 18:03] #15 closed

[2017-10-08 15:48] fils opened #61 "csv.NewWriter doesn't make a file"
Using your code on the main README as a guide I have lines like in
https://github.com/OpenCoreData/ocdGarden/blob/master/frictionlessdata/ocdFricTest1/main.go
Lines 95-108

No errors and runs fine, but no file is made.  Tried adding in some manual w.Flush() calls but didn't work.

I also tried
[code]

but it return error as nil, so nothing to report.

Any guidance on what I am doing wrong?

Also,

[2017-10-08 20:19] ThatEric commented on #58
Started looking at this, some of the tests have descriptions, but that isn't really supported by matryer/is. Are you okay ripping those dynamic comments out?

[2017-10-08 20:37] danielfireman commented on #58
Hi @ThatEric, the test descriptions that I can remember are used in subtest descriptions. Does that clarify your question? Could you please point to a specific example?

[2017-10-08 20:42] danielfireman commented on #61
Is that possible that line [106](https://github.com/OpenCoreData/ocdGarden/blob/master/frictionlessdata/ocdFricTest1/main.go#L106) is returning an error?

About the `WriteAll` method, it [does exist](https://github.com/frictionlessdata/tableschema-go/blob/master/table/table.go#L52) in the interface. Actually, csv.NewWriter [returns a csv.Writer](https://github.com/frictionlessdata/tableschema-go/b

[2017-10-09 04:09] ThatEric commented on #58
Oh I just mean that the description is sometimes placed in the error message and the matryer/is workflow doesn't allow custom errors like that.

Here is an example of the code in question:
`t.Errorf("[%s] want:%+v got:%+v", d.Desc, d.Field, f)`

That d.Desc is in the error message making a custom error message. In matryer/is you would do this:
`is.Equal("foo", got) // some static message`

There i

[2017-10-09 12:03] fils commented on #61
So I updated the code (and pushed it up..  same link)
https://github.com/OpenCoreData/ocdGarden/blob/master/frictionlessdata/ocdFricTest1/main.go

I added
[code]
in a few places and got nothing.  Is that the correct way to look for errors?

**Then I found an issue..**  I had my struct type wrong.  However, how this is affecting the running code is interesting.

At line 13 I had my Leg field in my

[2017-10-09 13:59] danielfireman commented on #58
Got it.

In those cases, it should be a subtest description. For instance:

`t.Errorf("[%s] want:%+v got:%+v", d.Desc, d.Field, f)`

Should be:

[code]

[2017-10-09 23:38] danielfireman commented on #61
Hi @fils,Thanks for reporting this error. I fixed it on my last commit and just pushed version [0.1.4](https://github.com/frictionlessdata/tableschema-go/tree/v0.1.4) with the fix (and some more stuff).

I also noticed that you didn't check the error returned at [schema.DecodeTable](https://github.com/OpenCoreData/ocdGarden/blob/master/frictionlessdata/ocdFricTest1/main.go#L109). Could you please

[2017-10-10 12:39] fils commented on #61
@danielfireman looks good..  FYI, I think in main README you want the demo code for the WriteSummary function to be

[code]
not os.Open.

Thanks!  issue resolved for me!

[2017-10-10 12:53] fils opened #62 "How best to deal with (discover) miss-typed fields across schema.json and a go struct"
So this question comes from an error I did with relation to code:
https://github.com/OpenCoreData/ocdGarden/blob/master/frictionlessdata/ocdFricTest1/main.go
and schema.json file:
https://github.com/OpenCoreData/ocdGarden/blob/master/frictionlessdata/ocdFricTest1/schema.json

I have a simple struct at the top of the code that can look like this.
[code]

Note the type of "Leg" in this case is not t

[2017-10-10 13:00] #61 closed

[2017-10-10 13:01] danielfireman commented on #61
Thanks for reporting, @fils ! Already fixed the README.

[2017-10-10 13:36] danielfireman commented on #62
Hi @fils

The empty file must not happen. It should be either an error or print some "good enough" result. Did update your code and capture/print the error returned by `DecodeTable`? Could you please answer this thread with the result?

Check errors from Encode/Decode is the best. As stated in the documentation, if the value cannot be encoded/decoded to/from the struct and error must be returned (

[2017-10-10 18:05] fils commented on #62
@danielfireman sorry for the confusion..  it was TOTALLY me being sloppy.
Using _ for error is always wrong  ;)

your code is trapping the type error as I would expect and I can use that to trap out error prior to writing the file.

THANKS!

[2017-10-10 18:10] danielfireman commented on #62
Cool! Thank you for being an early adopter of the library, questions and bug reports!!

[2017-10-10 18:10] #62 closed

[2017-10-10 19:18] danielfireman commented on #47
Thanks, @ajurasz !

[2017-10-10 19:18] #47 closed

[2017-10-13 21:41] danielfireman commented on #48
Hi @cored, still planning to work on this issue? This is the last issue to achieve compliance with the basic spec features :smile:

[2017-10-13 21:54] #58 closed

[2017-10-13 22:05] danielfireman opened #65 "schema.EncodeNumericColumn?"
Hi @roll , @akariv @pwalsh

I would like to start doing some math with data from my tables. As [gonum](http://www.gonum.org/) already provides a lot of functionality to deal with numbers, I would like to make it easier for tableschema users to use it. More precisely, I would like something along those lines of:

[code]

The reason why I am focusing on numeric is that I would like that to be perfor

[2017-10-13 22:24] cored commented on #48
@danielfireman I was about to work on it, just now :-)

[2017-10-13 22:29] danielfireman commented on #48
Awesome! Go for it! :)

Em 13 de out de 2017 19:24, "Rafael George" <notifications@github.com>
escreveu:

[2017-10-13 22:35] cored commented on #48
@danielfireman I don't see the `Enum` type define in the code base, so I assume that this PR should include it?

[2017-10-13 22:36] danielfireman commented on #48
Exactly!

Em 13 de out de 2017 19:35, "Rafael George" <notifications@github.com>
escreveu:

[2017-10-18 13:29] cored commented on #48
@danielfireman I'm a little bit confused on how to represent an enum type at the `Field` struct level. I was considering this structure `<name>: <value>`, however, I don't know if that would be a good approach.

[2017-10-18 14:44] danielfireman commented on #48
From the [contraints](https://specs.frictionlessdata.io/table-schema/#constraints) description:

So, we need to:

* decode the enum items to the specific field type
     * That can be done only once when creating the field (due to performance reasons).
     * Following the pattern constraint, we could it [here](https://github.com/frictionlessdata/tableschema-go/blob/master/schema/field.go#L124)

T

[2017-10-19 12:26] cored commented on #48
@danielfireman I'm still a little bit confused on this one. I thought that the new enum type was needed however still begs the question what would be the JSON input? As far as that representation goes you have an array of strings with the values of the enum however where's the name of such enum type coming in the input? When I see the tests in the `field_test.go` I see that every single type has t

[2017-10-19 13:19] danielfireman commented on #48
The JSON input would be of type string slice, within `schema.Constraints`. With that slice of strings in hand, you could use the `decode*` functions and convert from the string to the logical type of the field (regardless the type as there are already decoders for all types). My previous answer suggests that the enum field decode could be done when the schema.Field unmarshalling, preventing the en

[2017-11-04 14:00] danielfireman commented on #48
Hi @cored .. Passing just to let you know that I am going to start to work on this today. We need to close this up to move towards feature-completeness. Thanks for your effort!

[2017-11-04 14:53] cored commented on #48
Yes, go ahead. I got caught up with stuffs from work. I will read your
approach either way because I was kinda blocked. Sorry for the delay on
giving you an status for the change.

Thanks for jumping in,

On Sat, Nov 4, 2017 at 10:00 AM Daniel Fireman <notifications@github.com>
wrote:

[2017-11-04 18:50] danielfireman commented on #48
Fixed by 4d678fdb94b9c105cbee861a755fef2c1ad69b3b

[2017-11-04 18:50] #48 closed

[2017-11-04 18:53] danielfireman commented on #2
Finished the constraints part. @roll could you please take a look?

[2017-11-10 06:54] roll commented on #2
@danielfireman
Changes looks good.

The implementation looks completed now and I have only one concern - naming. Unlike all other implementation it seems this one use very different language (method naming etc). So it could be very hard for user to adopt our Python/JavaScript tutorial (which we will be having a lot) to the Go implementation. Good amount of discrepancies of course are related to lo

[2017-11-13 13:18] danielfireman commented on #2
@roll The main reason to use Encode and Decode is to keep consistency to the widely used  [encoding/json](https://golang.org/pkg/encoding/json/) package. In the same way, other libraries that deal with CSV, i.e. [gocsv](https://github.com/gocarina/gocsv), also follow the JSON standard library and use Marshal and Unmarshal.

This is confirmed by some github searches:
* the word cast in golang code:

[2017-11-13 13:36] roll commented on #2
@danielfireman
For now the strategy for all implementations:
- use target language best practices and idioms
- but still be as much as possible closer to Frictionless Data naming conventions - https://github.com/frictionlessdata/implementations#tableschema
The second one is because there is a very good chance that people will be coming to target language implementations from Python/JavaScript tuto

[2017-11-13 14:22] danielfireman opened #66 "Rename Decode and Encode to Cast and Uncast (respectively)"
cc/ @roll

[2017-11-13 14:58] #66 closed

[2017-11-13 15:01] danielfireman commented on #2
Renaming is done.

The infer example looks like:

[code]

[2017-11-13 15:08] danielfireman commented on #2
v1.0 Released: https://github.com/frictionlessdata/tableschema-go/releases

[2017-11-13 23:57] #2 closed

[2017-11-24 21:14] danielfireman opened #67 "Accept CSV dialect."
Neede to support: https://github.com/frictionlessdata/datapackage-go/issues/10

[2017-11-24 23:58] danielfireman commented on #67
de3a51f8487b68142a2826f6ffe521222a342273 Added configurations that could be supported out-of-the-box

[2017-11-24 23:58] #67 closed

[2018-03-29 22:49] endersonmaia opened #68 "Add xls/xlsx data processing"
A lot of data are made public using .xls/.xlsx format, and it would be great to free this data from this format to more open formats ;)

[2018-03-31 20:02] danielfireman commented on #68
That is indeed a super nice to have!

The first thing to do is implementing a Table and Iterator.  You can follow the [CSV](https://github.com/frictionlessdata/tableschema-go/blob/master/csv/table.go) implementation.

One way of approaching this problem is generating a CSV from the XLS/XLSX and from there re-use the CSV implementation.

Furthermore, you could re-use functions like [Remote](https:/

[2018-04-02 17:44] endersonmaia commented on #68
I already started searching for some libs to deal with .xls, and it's hard to find something useful.

I'm experimenting with extrame/xls, and will post something here ASAP.

[2018-04-02 19:20] danielfireman commented on #68
I usually start searching at https://golanglibs.com .. [extrame/xls](https://github.com/extrame/xls/) is actually the [top hit](https://golanglibs.com/top?q=xls).

The good news is that it seems that it can read XLS without formatting (which suffices our needs). Hope your tests go well and let me know if you run into any problem or have any questions.

[2018-09-03 07:35] serahrono opened #69 "Add tableschema-go to golang.org/pkg/"
Guide for adding a Go Package on [golang.org/pkg/](https://golang.org/pkg/): https://github.com/golang/go/wiki/PackagePublishing

[2018-09-03 13:04] danielfireman commented on #69
Hi @serahrono, good morning!

Could you please clarify your suggestion?

Asking because `tableschema-go` already follows the instructions described by the PackagePublishing link and it is a valid/published package (it is actually used by 3 public github projects).

Some of the benefits of keeping `tableschema-go` on github:
* It carries out the name frictionlessdata on its import path
* It is alre

[2018-09-03 13:07] danielfireman commented on #69
It also follows the [Comprehensive Guide to Publishing Golang Libraries](https://darahayes.com/publishing-golang-libraries-comprehensive-guide/)

[2018-09-03 13:56] roll commented on #69
@danielfireman
:+1:

[2019-03-05 01:43] russmack opened #71 "Number being inferred as boolean"
I have .csv file with ~15000 rows.  One of the fields is decimal.  The first ~10000 values of said field are either 0 or 1; the remaining are decimal eg 0.67.

Infer suggests the field is boolean rather than number.

The issue can be fixed by changing schema/infer.go#41 from:
`orderedTypes = []string{BooleanType, YearType, IntegerType, GeoPointType, NumberType, YearMonthType, DateType, DateTimeTyp

[2019-03-05 12:08] danielfireman commented on #71
That happened even when you specified the limit to -1? If yes, this a bug in our implementation. It should be number if it scans the whole file.

The type priority order was that to be in sync minimally in par with other implementations (e.g. tableschema-py). Due to that, I wouldn't simply change this priority order, but think of something custom based on the inferConfig you introduced. Let's only

[2019-03-05 13:40] russmack commented on #71
I've had a chance to look properly.
When a field has sloppy data eg a decimal field containing `0` instead of `0.0` the highest count wins.
So, eg, using a file such as:

Infers the type as boolean.
Options:
- Infer() returns an objection and hints.
- Use a type precedence list eg:
https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2012/ms190309(v=sql.110)
Eg. `typePrecedence = []st

[2019-03-05 18:06] russmack commented on #71
Ah.  I've found InferImplicitCasting.  I think that means all of the above is rubbish.

[2019-03-06 14:27] danielfireman commented on #71
Does that mean a column in which all rolls are filled with null values? If yes, I believe the best way is to remove this column before inference (because there is nothing to infer, actually). Or you could use the option described in the next paragraph.

Another option is you to specify the schema.missingValues after the schema is inferred (and the schema should behave properly). Please take a look

[2019-03-15 19:24] russmack commented on #71
Hi Daniel, in my working fork I've added some demo test examples, as well as an InferWithPrecedence  function to illustrate.  I've been sidetracked so I haven't run it over much data yet.

[2019-03-18 13:48] danielfireman commented on #71
Hi Russ!

Cool stuff! I liked the precedence idea. I took a look at the code and I believe it could be very much simplified using the InferOpt, right? For instance, we don't actually need the InferWithPrecedence method. What do you think?

[2019-04-06 07:20] Arg0naut opened #73 "valdate example and capitals.csv test data"
Running tableschema-go/examples/validate with bad capitals.csv test data does not produce errors as i assumed they would

some examples of fat fingering test data

id,capital,url
1,39.00,http://www.test.com
2,23.00,http://www.test.de
3,,http://www.test.uk <----- missing value for capital
4,28.00,http://www.test.co.il

produces

2019/04/06 08:12:17 Cast Row: {ID:1 Capital:39 URL:http://www.test.com

[2019-04-08 17:51] danielfireman commented on #73
Hi @Arg0naut .. your understanding is correct. The validation process is missing one check: the number of fields.

This will match the [js implementation](https://sourcegraph.com/github.com/frictionlessdata/tableschema-js@b60fa805bfd25c69f64eef3426648e4655d4bec3/-/blob/src/schema.js#L148). Gonna fix it soon. Thanks for reporting!

[2019-04-08 18:31] danielfireman commented on #73
Actually, the example is correct, but confusing. The problem is that the underlying Golang's CSV reader already checks the number of fields and returns an error. When the happens, `it.Next() ` returns false and exits the for loop.

During this research, I found that `schema.CastRow` wasn't explicitly validating the number of columns (sending a push soon).

I believe most users actually don't want

[2019-04-08 19:00] danielfireman commented on #73
Published [release 1.2](https://github.com/frictionlessdata/tableschema-go/releases/tag/v1.2) with those changes. Thanks"

[2019-04-08 19:00] #73 closed

[2019-04-21 17:58] danielfireman commented on #71
Hi @russmack

Thanks for sending https://github.com/frictionlessdata/tableschema-go/pull/74 ! I took a look and thought of another proposal. What do you think of https://github.com/frictionlessdata/tableschema-go/pull/75 ?

[2019-04-22 17:44] russmack commented on #71
Hi @danielfireman , that is more flexible, bound to be more useful.

[2019-04-24 16:46] danielfireman commented on #71
Great! Rolled out https://github.com/frictionlessdata/tableschema-go/releases/tag/v1.3 with this new feature.

[2019-04-24 16:46] #71 closed

[2019-05-20 23:37] danielfireman commented on #65
The things have changed and I believe we should go for `CastColumn (totally inspired by [CastRow](https://godoc.org/github.com/frictionlessdata/tableschema-go/schema#Schema.CastRow)).

[code]

[2019-05-20 23:38] danielfireman opened #78 "Add support to go 11 and modules"

[2019-05-20 23:51] danielfireman commented on #78
Fixed by #79

[2019-05-20 23:51] #78 closed

[2019-05-21 01:48] danielfireman commented on #65
Fixed by #80

[2019-05-21 01:48] #65 closed

[2019-05-21 06:31] roll commented on #65
Sorry I missed it. It's great!

[2019-10-03 08:11] roll opened #81 "Version 1.11 seems to have been released by mistake"
# Overview

Hi @danielfireman, I've added the release version of this package to our status page - https://github.com/frictionlessdata/software/blob/master/STATUS.md and it seems that by semver the latest version is `1.11` which is not really the last one

Probably we can just release `1.12` to solve it without breaking things.

WDYT?

[2019-10-03 12:33] danielfireman commented on #81
Cool. I didn't know there is a way to calculate/infer the correct semver label. Which software are you using?

About releasing a new 1.12 version, I think it was simples and would work, but after some more reading, I opted for finally fixing the release labels and making 1.2 the latest stable (much smaller than 1.12).

Checked the status page and looks ok, could you please doublecheck?

[2019-10-04 06:44] roll commented on #81
@danielfireman
Hi, not sure I understand - you mean how we choose which version to release? Just basic semver - https://github.com/frictionlessdata/software#labels (major/minor/fix). And comparision happens like this `major1 > major2, minor1 > minor2, fix1 > fix2`

It shows now `1.2` as the latest version. Which I guess correct. Although still a little bit confusing, for example, regarding the `1.

[2019-10-04 15:00] danielfireman commented on #81
Sorry about the confusion. The summary is that I decided to enjoy the beginning of the project to make the whole release history saner, which led to `1.2` instead of `1.12`. Now we can evolve from a cleaner slate.

You right, the latest stable version is `1.2` and I believe this solves the problem. Thanks for pointing this out!

[2019-10-04 15:00] #81 closed

[2020-04-09 22:42] endersonmaia commented on #68
taking note : https://github.com/avelino/awesome-go#microsoft-excel

[2020-04-16 22:19] endersonmaia commented on #68
using the github stars metric to decide :

* 6k ⭐ - https://github.com/360EntSecGroup-Skylar/excelize
* 4k ⭐ - https://github.com/tealeg/xlsx

[2020-04-18 21:19] endersonmaia opened #82 "Error when trying to build with go 1.14"
# Overview

I'm trying to start collaborating with an old issue to add xslx support (#68) but when trying to follow README.md instructions, I can't make it work.

there goes the transcriptions of the commands I tried (trial and error)

[code]
---

Please preserve this line to notify @danielfireman (lead of this repository)

[2020-04-19 13:37] danielfireman commented on #82
Hi @endersonmaia .. thanks for reporting it!

I updated the README file. The problem here is that you should not use `dep` with go1.14.

Please re-open this issue (or open a new one) if you run into any trouble. Thanks!

[2020-04-19 13:37] #82 closed

[2020-08-22 02:22] joeberth opened #83 "Error trying to CastTable."
# Overview

Error when using the csv [employee](https://github.com/frictionlessdata/tableschema-go/files/5111794/employee.xlsx), the
[schema](https://github.com/frictionlessdata/tableschema-go/files/5111828/schema.txt) and trying to use the function [CastTable(tab table.Table, out interface{})](https://github.com/frictionlessdata/tableschema-go/blob/72210a2e206a8a6fbfd35a1979499a2ba5d078e1/schema/

[2020-08-24 12:13] danielfireman commented on #83
HI @joeberth, thanks for reporting!

The library behavior is correct. If you would like to strip the prefixed whitespaces you need to set `bareNumber: false` in the schema field. The behavior is documented [here](https://specs.frictionlessdata.io/table-schema/#types-and-formats) and implemented [here](https://github.com/frictionlessdata/tableschema-go/blob/master/schema/integer.go#L13).

[2020-08-24 12:13] #83 closed

[2020-08-27 17:50] danielfireman opened #84 "CastRow does not support embedded types"
# Overview

`CastRow` does not support embedded types. It simply ignores them.

cc/ @joeberth

---

Please preserve this line to notify @danielfireman (lead of this repository)

[2020-08-27 17:52] danielfireman opened #85 "Problem running tests"
# Overview

Tried  to run tests and go the following error message:

[code]

cc/ @joeberth

---

Please preserve this line to notify @danielfireman (lead of this repository)

[2020-08-27 18:04] #85 closed

[2020-08-28 17:27] #84 closed

[2020-08-28 17:37] danielfireman opened #88 "Present all errors when Casting table"
# Overview

Nowadays, the `CastTable` method fails fast. This is not good because if the file has many problems, one is going to try to cast many times. Instead, it would be better to collect and return all problems in one call.

---

Please preserve this line to notify @danielfireman (lead of this repository)

[2020-08-31 22:48] danielfireman commented on #88
Fixed by #89

[2020-08-31 22:48] #88 closed

[2020-08-31 22:49] danielfireman opened #90 "Cast should support pointer types"
# Overview

Currently, the Cast functions does not deal with pointers.
---

Please preserve this line to notify @danielfireman (lead of this repository)

[2020-09-01 20:41] #90 closed

[2020-09-01 22:52] danielfireman opened #92 "Constraints are not correctly processed"
# Overview

[This](https://github.com/frictionlessdata/tableschema-go/files/5159169/constraints.zip) example throws the following error:

[code]

---

Please preserve this line to notify @danielfireman (lead of this repository)

[2020-09-01 23:16] danielfireman commented on #92
The problem is that go constraints should defined as strings. Adding an example to clarify that.

[2020-09-01 23:17] danielfireman commented on #92
Fixed by commit https://github.com/frictionlessdata/tableschema-go/commit/3cc64ed28c51c890b722e708d1c1874e16c2ae5f

[2020-09-01 23:17] #92 closed

[2020-09-01 23:18] danielfireman opened #93 "Constraints field is called "Constraints""
# Overview

Following the spec, It should be "constraints".

---

Please preserve this line to notify @danielfireman (lead of this repository)

[2020-09-01 23:25] danielfireman commented on #93
Fixed by https://github.com/frictionlessdata/tableschema-go/commit/80cddb2c3c150212103a8b50bf5ff17edf3815d5

[2020-09-01 23:25] #93 closed

[2020-12-02 20:39] cuducos opened #94 "Support GZIP compressed CSV files"
# Overview

In many projects, I work we store compressed CSV (e.g. `mydata.csv.gz`) instead of plain CSV (e.g. `mydata.csv`).

Is it interesting for this project to allow `csv.FromFile` to support _gzipped_ CSV files? If so, I'd be more than happy to implement this feature.

## Intended roadmap

1. We can use [`filepath.Ext`](https://golang.org/pkg/path/filepath/#Ext) to check whether `path` has `

[2020-12-02 21:46] cuducos opened #95 "Add Table.Validate(schema)"
# Overview

In some use cases, it might make sense to just load a table and a schema and validate whether the table data matches what is expected by the schema.

This is different than `Schema.Validate()` (which validate the schema itself) and from iterating through table rows casting them to a _struct_ (in that case, validation would be made against the _struct_, not against the schema).

If that

[2021-02-18 12:37] endersonmaia commented on #68
seems like a great option to use https://github.com/pbnjay/grate

[2021-03-21 14:59] danielfireman commented on #94
I believe this is a great idea. Unfortunately I won't be able to get to this in a month or so.

[2021-04-23 11:54] #94 closed

[2021-06-01 13:20] roll opened #97 "Renaming master branch to main"
Hi @danielfireman,

We're doing this renaming org-wide as per frictionlessdata/project#537. Can you please take a look?

It's as easy as updating the branch name here - https://github.com/frictionlessdata/schema-collaboration/settings/branches - no more actions on Github are needed.

[2021-06-02 13:37] danielfireman commented on #97
Done!

[2021-06-02 13:37] #97 closed

[2021-08-19 07:31] roll opened #98 "Migrate to Github Actions"
# Overview

Travis CI is "dying" so we're migrating all the Frictionless libs to Github Actions.

@danielfireman
Do you have time to try the migration? If you don't I can make an attempt

[2021-08-19 13:43] danielfireman commented on #98
Thanks for pointing that out, @roll ... I'll give it a try over the next few days.

[2022-03-29 21:57] danielfireman commented on #98
This is done.

[2022-03-29 21:57] #98 closed

[2022-04-01 17:17] danielfireman commented on #32
Pointers are already supported.

[2022-04-01 17:17] #32 closed

[2022-04-01 17:19] danielfireman opened #99 "datetime fields not being properly processed by CastRow"
# Overview

The test bellow fails because the datetime field is not processed during CastRow

[code]

---

Please preserve this line to notify @danielfireman (lead of this repository)

[2022-04-01 17:20] #99 closed